# Welcome to Jupyter Notebooks!

This is a markdown cell. You can use it to write formatted text, including:
* Lists
* **Bold text**
* *Italic text*
* And even equations: $E = mc^2$

In [ ]:
# This is a code cell
print('Hello, Jupyter!')

# Let's do some basic math
x = 5
y = 3
print(f'{x} + {y} = {x + y}')

Hello, Jupyter!
5 + 3 = 8

## Working with NumPy and Pandas

Let's try some data analysis examples:

In [2]:

import numpy as np
import pandas as pd
from IPython.display import display

# Create a sample array
arr = np.array([1, 2, 3, 4, 5])
print('NumPy array:', arr)
print('Mean value:', arr.mean())

# Create a simple DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
})

print('\nPandas DataFrame:')
display(df)

NumPy array: [1 2 3 4 5]
Mean value: 3.0

Pandas DataFrame:

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris